.vscode/
.DS_Store

*.pyc
__pycache__/

.pytest_cache/
htmlcov/

dist/
build/
instance/
data/
*.egg-info/

*.pickle

aws_web_app/venv/
*.zip

*_trajectories/
*_data/
output/
rw4t/outputs/
tb_logs/
result*/
experts/
Eureka/eureka/outputs/
# profile*
test_runs/
wandb/
venv/
multirun/
ll/
hl_ll/
*-ft/
handcrafted_results/
HierRL/tensorboard_logs

*.png
*.pkl
*.log
*.csv
*.orig
*.mp4

aws_data*
data_old/
logs/
buffers/
weights/
node_modules/
logger-*/
package-lock.json
.eslintrc.json
package.json

*demos
*slow0
*fast0
*fast1
*.txt
*.pth

*contrast.py
*mcts.py

!Eureka/eureka/utils/prompts/*